/* Footer Styles */
.footer {
  background: #2E7D32;
  color: #fff;
  text-align: center;
  padding: 20px 20px; /* Reduced vertical padding */
}

.footer .section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-content {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  font-size: 0.9rem;
  margin-top: 15px;
}

.social-icons {
  display: flex;
  gap: 30px;  /* Increased gap between icons */
}

.social-icons a {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #FBC02D;
}

/* Responsive Design */
@media (max-width: 600px) {
  .footer-content {
    padding: 0 20px;
  }
}
